@import url("style.css");
.photographerPages header img {
  margin-top: 30px;
}
.photographerPages header img:hover {
  cursor: pointer;
}

.photographerHeader {
  background-color: #FAFAFA;
  max-width: 1240px;
  height: 300px;
  margin: 30px 100px;
  padding: 25px 50px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.photographerHeader .photographer-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  align-items: start;
  text-align: start;
}
.photographerHeader .photographer-infos * {
  margin: 0;
}
.photographerHeader .photographer-infos h1 {
  color: #D3573C;
  font-size: 64px;
  font-weight: 400;
}
.photographerHeader .photographer-infos h2 {
  color: #901c1c;
  font-size: 24px;
  font-weight: 400;
}
.photographerHeader .photographer-infos h3 {
  color: #525252;
  font-size: 18px;
  font-weight: 400;
}
.photographerHeader .openModal {
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
.photographerHeader .portraitDiv {
  width: 40%;
  display: flex;
  justify-content: end;
}
.photographerHeader .portraitDiv img {
  border-radius: 50%;
}

.sortMenu {
  max-width: 1240px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  gap: 50px;
  left: 0;
  margin: 30px 100px 15px 100px;
}
.sortMenu .dropdownMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 140px;
  overflow: hidden;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #901c1c;
  color: white;
  font-size: 18px;
  font-weight: 300;
  border-radius: 5px;
  position: absolute;
  left: 150px;
  top: 2px;
  z-index: 5;
}
.sortMenu .dropdownMenu:hover .dateDiv, .sortMenu .dropdownMenu:hover .titleDiv {
  display: flex;
}
.sortMenu .dropdownMenu:hover a {
  border-bottom: 1px solid white;
}
.sortMenu .dropdownMenu:hover i {
  transform: rotate(180deg);
  transition: 0.3s linear;
}
.sortMenu .dropdownMenu:not(:hover) i {
  transition: 0.4s linear;
}
.sortMenu .dropdownMenu div {
  width: 100%;
  height: 100%;
  padding: 10px 15px;
}
.sortMenu .dropdownMenu div:hover {
  cursor: pointer;
  color: #dc7b66;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.sortMenu .dropdownMenu a {
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: start;
  margin: auto;
  height: 29px;
  padding-bottom: 10px;
  width: 80%;
  border-bottom: 1px solid transparent;
}
.sortMenu .dropdownMenu .dateDiv {
  padding-top: 0px;
}
.sortMenu .dropdownMenu .dateDiv, .sortMenu .dropdownMenu .titleDiv {
  display: none;
}
.sortMenu .dropdownMenu .popularDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 39px;
  z-index: 3;
}
.sortMenu .dropdownMenu .popularDiv i {
  display: block;
}
.sortMenu .dropdownMenu .popularDiv #popular {
  padding-top: 15px;
  align-items: center;
  gap: 15px;
  padding-bottom: 15px;
}
.sortMenu .dropdownMenu #title {
  border: none;
  padding-bottom: 0;
}
.sortMenu .dropdownMenu #date {
  padding-top: 15px;
  height: 29px;
}

.photographerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1240px;
  gap: 45px 30px;
  margin: 30px 100px;
  position: relative;
}
.photographerContent img, .photographerContent video {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.photographerContent img:hover, .photographerContent video:hover {
  transform: scale(1.03);
  transition: 0.5s;
  cursor: pointer;
}
.photographerContent img:not(:hover), .photographerContent video:not(:hover) {
  transition: 0.8s;
}
.photographerContent source {
  border-radius: 5px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}
.photographerContent .mediaDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  color: #901c1c;
  margin-top: 10px;
}
.photographerContent .mediaDescription * {
  margin: 0;
}
.photographerContent .mediaDescription .unliked {
  color: #901c1c;
}
.photographerContent .mediaDescription .liked {
  color: #D3573C;
  animation: liked 0.3s ease-in-out 1 forwards;
}
@keyframes liked {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  0% {
    transform: scale(1.1);
    opacity: 0.85;
  }
  0% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  0% {
    transform: scale(1.3);
    opacity: 0.55;
  }
  100% {
    transform: scale(1);
  }
}
.photographerContent .mediaDescription .mediaLikes:hover {
  cursor: pointer;
}

.toolTip {
  background-color: #DB8876;
  position: fixed;
  border-radius: 5px 5px 0 0;
  bottom: 0;
  right: 3.5%;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 15px 30px;
  font-size: 24px;
  font-weight: 500;
}
.toolTip p {
  margin: 0;
}

#contact_modal {
  display: none;
  position: absolute;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100%;
  padding: 150px 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(196, 196, 196, 0.3);
  z-index: 10;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 670px;
  position: relative;
  top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px 50px;
  margin: auto;
}
.modal header {
  justify-content: space-between;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.modal header h2 {
  font-size: 48px;
  font-weight: normal;
  text-align: left;
  margin: 0 0 5px 0;
}
.modal .submit {
  font-size: 18px;
  font-weight: 700;
  color: white;
  margin: 35px 0 0 0;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
.modal img {
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 60px;
}
.modal img:hover {
  transform: rotate(90deg);
  transition: ease-in-out 0.4s;
}
.modal img:not(:hover) {
  transition: ease-in-out 0.6s;
}
.modal .form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.modal .sent {
  border-radius: 5px;
  background-color: #DB8876;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 670px;
  height: 35%;
  top: 0px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 100px 50px;
  margin: auto;
  font-size: 40px;
  color: white;
  text-align: center;
}
.modal form label, .modal form p {
  color: #312E2E;
  font-size: 28px;
  margin-bottom: 5px;
}
.modal form p {
  margin-top: 0;
}
.modal .formDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
}
.modal form input {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 5px;
  margin-bottom: 30px;
  font-size: 28px;
}
.modal .formMessage input {
  height: 96px;
}
.modal .formData {
  width: 100%;
  max-width: 500px;
}
.modal .formData[data-error]:after {
  content: attr(data-error);
  font-size: 0.7em;
  color: #000000;
  display: block;
  margin-top: -22px;
  margin-bottom: -2px;
  text-align: right;
  text-decoration: underline;
  opacity: 0;
  transition: 0.3s;
}
.modal .formMessage[data-error]:after {
  margin-top: 0;
}
.modal .formData[data-error-visible=true]::after {
  opacity: 1;
  display: block;
}
.modal textarea {
  resize: none;
  border: 0;
  border-radius: 5px;
  width: 100%;
}/*# sourceMappingURL=photographer.css.map */