@import url("photographer.css");

$mainColor : #D3573C;
$secondColor: #901c1c;

body {
    font-family: "DM Sans", sans-serif;
    margin: auto;
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1px 1px;
}

main {
    padding-bottom: 50px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    max-width: 1440px;
    width: 100%;
}

h1 {
    color: $secondColor;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 50px;

    & article {

        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        & div * {
            margin: 0;
        }

        & .divClick {

            & h2 {

                color: $mainColor;
                font-size: 36px;
                margin-bottom: 0;
                margin-top: 10px;
    
            }
            & img {
                height: 200px;
                width: 200px;
                border-radius: 50%;
                border: 3px solid transparent;
            }

            &:hover {
                cursor: pointer;

                & img {
                    transition: 0.5s;
                    border: 3px solid $mainColor;
                    box-shadow: 0px 0px 10px 10px rgba($color: #000000, $alpha: 0.05);
                    transform:rotate3d(1,1,0,15deg) scale(1.05);
                }
            }

            &:not(:hover) img{
                transition: 1s;
                border: 3px solid transparent;
            }

        }
        
    }

        & h3 {
            color: $mainColor;
            font-size: 17px;
        }

        & span {

            font-size: 13px;
            font-weight: 400;
        }

        & i {
            font-size: 12px;
            font-weight: 400;
            color: #757575;
            font-style: normal;
        }
    }

    
